# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
tsl_tests

# Diagnostic output
core.*
*.log

# Programming related junk
tags

# Swap files
*.sw*
